.register {
  height: 98vh;
  //background-color: rgb(193, 190, 255);  // this is the optional color for the backgrond
  background:linear-gradient(rgba(0, 0, 255, 0.178), rgba(255, 255, 255, 0.601)), url("https://wallpaperaccess.com/full/1560128.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    // background-color: transparent;
    background-color: rgba(50, 50, 115, 0.45);
    border-radius: 10px;
    min-height: 500px;
    overflow: hidden;
    .left {
      flex: 1;
      background: linear-gradient(rgba(26, 159, 211, 0.6), rgba(15, 9, 28, 0.9)),
        url("https://images.pexels.com/photos/296114/pexels-photo-296114.jpeg?auto=compress&cs=tinysrgb&w=600")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: white;
      h1 {
        font-size: 100px;
        line-height: 100px;
        padding: 0px;
        margin: 0px;
      }
      p {
      }
      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        cursor: pointer;
        font-weight: bold;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      h1 {
        color: #fbf6f6;
        // color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid rgb(211, 211, 211);
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #070275;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
