.comments{

    .write{

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin: 20px 0px;

        img{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            object-fit: cover;
        }
        input{
            flex:5;
            padding: 10px;
            border: 1px solid grey;
            background-color: transparent;
            color: rgb(4, 5, 5);
        }
        button{
            border: none;
            background-color: #5271ff;
            color: white;
            padding: 10px;
            cursor: pointer;
            border-radius: 3px;
        }
    }

    .comment{
        margin: 30px 0px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        
        img{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            object-fit: cover;
        }

        .info{
            flex: 5;
            display: flex;
            flex-direction: column;
            gap: 1px;
            align-items: flex-start;

            span{
                font-weight: 1000;
            }
        }

        .date{
            flex: 1;
            align-self: center;
            color: rgba(128, 128, 128, 0.685);
            font-size: 17px;
        }
    }
}